.green {
  color: #57a203;
}
.gray {
    color:#6C757D ;
}
.white{
    color: #FFFFFF;
}
.black {
  color: #212529;
}
.mb-48 {
  margin-bottom: 48px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-64 {
  margin-top: 64px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-4 {
  margin-bottom: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mr-48{
    margin-right: 48px;
}

.mr-12{
    margin-right: 12px;
}
.mr-8{
    margin-right: 8px;
}

.pb-32 {
  padding-bottom: 32px;
}
.py-32 {
  padding: 32px 0;
}
.py-16 {
  padding: 16px 0;
}
.py-8{
    padding: 8px 0;
}
.py-24 {
  padding: 24px 0;
}

.py-12 {
  padding: 12px 0;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.flex-wrap{
    flex-wrap: wrap;
}
 a{
    text-decoration: none;
     color: #000;
}

.h3{
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 5%;
}
.h4{
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 5%;
    font-size: 24px;
}

.h6 {
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 5%;

}
.container{
    width: 1296px;
   margin: 0 auto;
    text-decoration: none;
    color: #000;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}
.col-1{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12) ;
}
.col-2{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*2) ;
}
.col-3{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*3) ;
}
.col-4{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*4) ;
}
.col-5{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*5) ;
}
.col-6{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*6) ;
}
.col-7{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*7) ;
}
.col-8{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*8) ;
}
.col-9{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*9) ;
}
.col-10{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*10) ;
}
.col-11{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*11) ;
}
.col-12{
    padding-left: 12px;
    padding-right: 12px;
    width:calc(100%/12*12) ;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: '/';
    padding: 0 12px;
    color:#DEE2E6;
    font-weight: 700;
}
.breadcrumb-item {
    display: flex;
    font-weight: 500;
}
.breadcrumb-link {
    color: #6C757D;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.btn {
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border: none;
    background-color: transparent;

}

.page-item .btn{
    padding: 8px 15px;
    border-radius: 0;
    font-weight: 400;
}
.page-item .active{
    background-color: #C0FA73;
    font-weight: 500;
}
.bg-primary-200{
    background-color: #C0FA73;

}
